<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
  </head>

  <body>
    <div class="site-wrapper">
      <section class="section-st">
        <div class="container">
          <div id="modalCallback" class="st-modal lity-hide">
            <div class="st-modal__head">

            </div>

            <div class="st-modal__body">
              <form class="st-form" action="#">
                <div class="form-group">
                  <label class="field-item">
                    <div class="field-item__label">Your name</div>
                    <div class="field-item__field">
                      <input type="text" placeholder="placeholder text" required="required" />
                    </div>
                  </label>
                </div>
                
                <div class="form-group">
                  <label class="field-item">
                    <div class="field-item__label">Your phone</div>
                    <div class="field-item__field">
                      <input type="tel" placeholder="placeholder text" required="required" />
                    </div>
                  </label>
                </div>
  
                <button class="btn btn_md btn_max" type="submit">Submit</button>
              </form>
            </div>

            <button class="lity-close" type="button" aria-label="Close (Press escape to close)" data-lity-close="">
              <svg class="icon icon-close">
                <use xlink:href="assets/img/sprite.svg#close"></use>
              </svg>
            </button>
          </div>


          <div id="modalCallbackPopup" class="st-modal mfp-hide">
            <div class="st-modal__head">

            </div>

            <div class="st-modal__body">
              <form class="st-form" action="#">
                <div class="form-group">
                  <label class="field-item">
                    <div class="field-item__label">Your name</div>
                    <div class="field-item__field">
                      <input type="text" placeholder="placeholder text" required="required" />
                    </div>
                  </label>
                </div>
                
                <div class="form-group">
                  <label class="field-item">
                    <div class="field-item__label">Your phone</div>
                    <div class="field-item__field">
                      <input type="tel" placeholder="placeholder text" required="required" />
                    </div>
                  </label>
                </div>
  
                <button class="btn btn_md btn_max" type="submit">Submit</button>
              </form>
            </div>
          </div>

          <!-- Lity -->
          <h3>Lity</h3>
          <a class="btn" href="https://farm9.staticflickr.com/8642/16455005578_0fdfc6c3da_b.jpg" data-lity>Image</a>
          <button class="btn" type="button" data-lity-target="#modalCallback" data-lity>Inline</button>
          <button class="btn" type="button" data-lity-target="https://www.youtube.com/watch?v=5qap5aO4i9A" data-lity>iFrame Youtube</button>
          <a class="btn" href="https://maps.google.com/maps?q=1600+Amphitheatre+Parkway,+Mountain+View,+CA" data-lity>Google Maps</a>
          <br><br><br>

          <!-- magnific -->
          <h3>Magnific</h3>
          <button type="button" data-mfp-src="#modalCallbackPopup" class="btn open-popup-link">Inline</button>
          <br><br>
          <div class="magnific-gallery">
            <button type="button" data-mfp-src="assets/img/img1.png" title="Dualshock">
              <img src="assets/img/img1.png" alt="">
            </button>
            <button type="button" data-mfp-src="assets/img/img2.jpg" title="Dualshock">
              <img src="assets/img/img2.jpg" alt="">
            </button>
            <button type="button" data-mfp-src="assets/img/img3.jpg" title="Dualshock">
              <img src="assets/img/img3.jpg" alt="">
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
