<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      ol li {
        margin: 0 0 15px;
        font-size: 1.5em;
        line-height: 1.1em;
      }
    </style>
  </head>

  <body>
    <div class="site-wrapper">
      <div class="trans-border-wrapper">
        <div class="trans-border-item">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          quas adipisci obcaecati sequi? Omnis, rerum.
        </div>
      </div>

      <div class="bg-origin">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
        dignissimos!
      </div>

      <div class="bg-stripes horisontal">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem
        in error voluptas alias odit ut necessitatibus iusto aperiam fugiat!
      </div>

      <div class="bg-stripes horisontal_three-rows">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas,
        aperiam at. Vero facere ab ipsam ad sed ipsum dolor magnam?
      </div>

      <div class="bg-stripes deg45">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quidem
        in error voluptas alias odit ut necessitatibus iusto aperiam fugiat!
      </div>

      <div class="shape radius"></div>
      <div class="shape radius-2"></div>
      <div class="shape radius-3"></div>

      <div class="shape rect-skew">Inner text</div>
      <div class="shape-rhombus">
        <img src="https://fakeimg.pl/250/" alt="" />
      </div>
      <img src="https://fakeimg.pl/150/" alt="" class="shape-rhombus-clip" />

      <div class="angles angles-grad"></div>
      <div class="angles angles-grad-arrow">Button</div>
      <div class="angles angles-two-grad"></div>
      <div class="angles angles-four-grad"></div>
      <div class="angles angles-four-grad-radial"></div>

      <div class="pie-diagram">80%</div>
      <div class="pie-diagram">20%</div>

      <div class="b-shadow b-shadow-one-side">box shadow one side</div>
      <div class="b-shadow b-shadow-two-sides">box shadow two sides</div>
      <div class="b-shadow b-shadow-two-paralel-sides">box shadow two paralel sides</div>
    </div>
  </body>
</html>
