<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
  </head>

  <body>
    <div class="site-wrapper">
      <section class="section-st">
        <div class="container">
          <!-- owl carousel -->
          <h3>Owl carousel</h3>
          <div class="st-carousel owl-carousel">
            <div>Your Content</div>
            <div>Your Content</div>
            <div>Your Content</div>
            <div>Your Content</div>
            <div>Your Content</div>
            <div>Your Content</div>
            <div>Your Content</div>
          </div>

          <div class="mobile-carousel owl-carousel">
            <div>Mobile Content</div>
            <div>Mobile Content</div>
            <div>Mobile Content</div>
            <div>Mobile Content</div>
            <div>Mobile Content</div>
            <div>Mobile Content</div>
            <div>Mobile Content</div>
          </div>

          <!-- Swiper -->
          <h3>Swiper</h3>
          <div class="st-swiper swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
              <div class="swiper-slide">Slide 4</div>
              <div class="swiper-slide">Slide 5</div>
              <div class="swiper-slide">Slide 6</div>
              <div class="swiper-slide">Slide 7</div>
              <div class="swiper-slide">Slide 8</div>
              <div class="swiper-slide">Slide 9</div>
              <div class="swiper-slide">Slide 10</div>
            </div>

            <div class="swiper-button-prev">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#chevron-left"></use>
              </svg>
            </div>
            <div class="swiper-button-next">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#chevron-right"></use>
              </svg>
            </div>

            <div class="swiper-pagination"></div>
          </div>

          <!-- Swiper outside navigation -->
          <h3>Swiper outside navigation</h3>
          <div class="st-swiper-outside-navi">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
              </div>
            </div>

            <div class="swiper-button-prev">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#chevron-left"></use>
              </svg>
            </div>

            <div class="swiper-button-next">
              <svg class="icon">
                <use xlink:href="assets/img/sprite.svg#chevron-right"></use>
              </svg>
            </div>

            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
