<!DOCTYPE html>
<html lang="eng">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <style>
      ol li {
        margin: 0 0 15px;
        font-size: 1.5em;
        line-height: 1.1em;
      }
    </style>
  </head>

  <body>
    <div class="site-wrapper">
      <p class="text-decoration">Lorem ipsum, dolor sit amet consectetur adipisicing elit. <a href="#">Placeat autem at accusantium, consectetur</a>, obcaecati, perferendis magnam cumque commodi id nulla in <a href="#" class="dashed">ullam repellendus odit tenetur ex omnis illum natus alias!</a></p>
      <div class="circular">
        circular reasoning works because more text 
      </div>
      <p class="stroke-text">
        <svg>
          <use xlink:href="#str-text" />
          <text id="str-text" y="1em">Lorem, ipsum dolor.</text>
        </svg>
      </p>
      <p class="retro">Retro</p>
    </div>
  </body>
</html>
