$bp-min-mobile-s: 360px;
$bp-min-sm: 576px;
$bp-min-md: 740px;
$bp-min-lg: 1080px;
$bp-min-xl: 1200px;
$bp-min-xxl: 1420px;
$bp-min-full: 1880px;

// max-width
$bp-max-mobile-s: 359px;
$bp-max-sm: 575px;
$bp-max-md: 739px;
$bp-max-lg: 1079px;
$bp-max-xl: 1199px;
$bp-max-xxl: 1419px;
$bp-max-full: 1879px;
