// all page buttons
button, .btn
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  margin: 0
  padding: 0
  background: none
  border: none
  outline: none
  box-shadow: none
  text-decoration: none
  text-align: center
  cursor: pointer
  transition: all $transition-default

  &:hover
    text-decoration: none

  .icon
    transition: all $transition-default


// page buttons default with class
.btn
  padding: var(--btn-size-default)
  font-size: var(--btn-font-size)
  line-height: 24px
  font-family: var(--site-font-family), sans-serif
  font-weight: 700
  color: var(--btn-color)
  border: 2px solid var(--btn-border)
  background-color: var(--btn-bg)
  border-radius: var(--radius-xs)

  &:hover
    @media (min-width: $bp-min-lg)
      background-color: var(--btn-border)
      color: var(--tc-dark)

  &:active
    opacity: 0.8

  .icon
    margin-right: 12px

    &:last-child
      margin-right: 0
      margin-left: 12px

  &._sm
    padding: var(--btn-size-sm)

  // disabled
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active
    cursor: default
    opacity: 0.6
    background-color: var(--btn-bg)

  &._primary
    border-color: var(--primary)
    color: var(--primary)

    &:hover
      @media (min-width: $bp-min-lg)
        background-color: var(--primary)
        color: var(--tc-white)
        border-color: transparent

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active
      background-color: transparent
      border-color: var(--border-primary)
      color: var(--primary)

    &._fill
      color: var(--tc-white)
      border-color: transparent
      background-color: var(--primary)

      &:hover
        @media (min-width: $bp-min-lg)
          background-color: var(--primary-hover)

      &:active
        background-color: var(--primary)

    &._light
      color: var(--primary)
      border-color: transparent
      background-color: rgba(var(--primary-rgb), 0.1)

      &:hover
        @media (min-width: $bp-min-lg)
          background-color: var(--primary-hover)

      &:active
        color: var(--tc-white)
        background-color: var(--primary)

  &._secondary
    border-color: var(--border-secondary)
    color: var(--secondary)

    &:hover
      @media (min-width: $bp-min-lg)
        background-color: var(--secondary-hover)
        color: var(--tc-white)
        border-color: transparent

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active
      background-color: transparent
      border-color: var(--border-secondary)
      color: var(--secondary)

    &._fill
      color: var(--tc-white)
      border-color: transparent
      background-color: var(--secondary)

      &:hover
        @media (min-width: $bp-min-lg)
          background-color: var(--secondary-hover)

      &:active
        background-color: var(--secondary)

  &._light
    border-color: var(--tc-white)
    color: var(--tc-white)

    &:hover
      @media (min-width: $bp-min-lg)
        background-color: var(--bg-white)
        color: var(--btn-color)
        border-color: transparent

    &[disabled],
    &[disabled]:hover,
    &[disabled]:active
      background-color: transparent
      border-color: var(--tc-white)
      color: var(--tc-white)

    &._fill
      color: var(--btn-color)
      border-color: transparent
      background-color: var(--bg-white)

      &:hover
        @media (min-width: $bp-min-lg)
          opacity: 0.9

      &[disabled],
      &[disabled]:hover,
      &[disabled]:active
        background-color: var(--bg-white)
        border-color: var(--tc-white)
        color: var(--btn-color)
        opacity: 0.6

  &._icon
    width: var(--btn-icon-size-default)
    height: var(--btn-icon-size-default)
    padding: 0

    .icon
      margin: 0

  // btn width
  &._max
    width: 100%

  &._max-mobile
    @media (max-width: $bp-max-md)
      width: 100%

  &._min-width
    min-width: var(--btn-min-width)
