// all page buttons
button, .btn
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  margin: 0
  padding: 0
  background: none
  border: none
  outline: none
  box-shadow: none
  text-decoration: none
  text-align: center
  cursor: pointer
  transition: background-color $transDefault, color $transDefault, border-color $transDefault, opacity $transDefault

  &:hover
    text-decoration: none

  .icon
    transition: fill $transDefault, stroke $transDefault, opacity $transDefault


// page buttons default with class
.btn
  height: var(--btn-default)
  padding-left: 20px
  padding-right: 20px
  font-family: var(--site-font-family), sans-serif
  font-weight: 600
  font-size: var(--text-ui-md)
  line-height: 1em
  color: var(--btn-color)
  border: 2px solid var(--btn-border)
  background-color: var(--btn-bg)
  border-radius: var(--btn-radius-sm)

  &:hover
    color: var(--btn-color)
    background-color: var(--btn-bg-hover)
    border-color: var(--btn-bg-hover)

  &:active
    background-color: var(--btn-bg-active)
    border-color: var(--btn-bg-active)

  .icon
    fill: var(--btn-color)
    stroke: var(--btn-color)
    margin-right: 12px

    &:last-child
      margin-right: 0
      margin-left: 12px

  // disabled
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active
    cursor: default
    color: var(--btn-color-disabled)
    background-color: var(--btn-bg-disabled)
    border-color: var(--btn-border-disabled)
    opacity: .5

    .icon
      fill: var(--btn-color-disabled)
      stroke: var(--btn-color-disabled)

  // light / fill
  &._light
    --btn-bg-hover: var(--btn-light-color)
    --btn-bg-active: var(--btn-light-active-bg)
    --btn-border: var(--btn-light-color)
    --btn-color: var(--btn-light-color)
    --btn-color-disabled: var(--btn-light-color)

    &:hover
      --btn-color: var(--btn-light-hover-color)


  &._light-fill
    --btn-bg: var(--btn-light-fill-bg)
    --btn-bg-hover: var(--btn-light-fill-bg-hover)
    --btn-bg-active: var(--btn-light-fill-bg)
    --btn-bg-disabled: var(--btn-light-fill-bg)
    --btn-color: var(--btn-light-fill-color)
    --btn-color-disabled: var(--btn-light-fill-color)
    --btn-border: transparent
    --btn-border-disabled: transparent

  // xs
  &._xs
    height: var(--btn-xs)
    padding: 0 12px
    font-weight: normal
    font-size: var(--text-ui-sm)
    border-width: 1px

    .icon
      margin-right: 8px

      &:last-child
        margin-left: 8px
        margin-right: 0

  // sm
  &._sm
    height: var(--btn-sm)
    padding: 0 16px
    font-size: var(--text-ui-sm)
    border-width: 1px

    .icon
      margin-right: 10px

      &:last-child
        margin-left: 10px
        margin-right: 0

  // md
  &._md
    height: var(--btn-md)
    padding: 0 24px
    font-size: var(--text-ui-md)

  // lg
  &._lg
    height: var(--btn-lg)
    padding: 0 30px
    font-size: var(--text-ui-lg)

  // btn icon
  &.btn_icon
    padding: 0
    width: var(--btn-default)

    &._round
      border-radius: 50%

    &._xs
      width: var(--btn-xs)
    &._sm
      width: var(--btn-sm)
    &._md
      width: var(--btn-md)
    &._lg
      width: var(--btn-lg)

    .icon,
    .icon:last-child
      margin: 0

  // btn link
  &.btn_link
    --btn-bg-hover: transparent
    --btn-bg-active: transparent
    --btn-border: transparent
    --btn-border-disabled: transparent
    --btn-color: var(--link-color)
    --btn-color-hover: var(--link-color-hover)
    --btn-color-disabled: var(--link-color)


  // colors
  &._primary
    +btnColor(primary)
  &._secondary
    +btnColor(secondary)
  &._danger
    +btnColor(danger)
  &._success
    +btnColor(success)
  &._warning
    +btnColor(warning)

  // btn width
  &._max
    width: 100%

  &._max-mobile
    +breakpoint-max-width($m-md)
      width: 100%

  &._min-width
    min-width: 140px
