.placeholder
  color: var(--control-placeholder)

input,
textarea
  +placeholder-color(var(--control-placeholder))

::-webkit-contacts-auto-fill-button
  opacity: 0

input[type="password"]::-webkit-contacts-auto-fill-button
  opacity: 1

input[type="search"]
  appearance: none
  -webkit-appearance: none

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration
    appearance: none
    -webkit-appearance: none

input,
textarea,
select
  position: relative
  width: 100%
  height: var(--control-height)
  padding: 0 var(--control-space)
  border: 1px solid var(--control-border-color)
  font-family: var(--site-font-family), sans-serif
  font-size: var(--text-sm)
  text-overflow: ellipsis
  color: var(--control-color)
  background-color: var(--control-bg)
  outline: none
  border-radius: var(--radius-xs)
  -webkit-appearance: none
  box-shadow: none

  &:focus:not([readonly])
    border-color: var(--control-focus-color)

  &:disabled
    background-color: var(--control-disabled)
    cursor: auto

select
  --control-color: var(--control-placeholder)
  padding-right: 56px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='#000' style='enable-background:new 0 0 512 512' xml:space='preserve'%3E%3Cpath d='M505.183 123.179c-9.087-9.087-23.824-9.089-32.912.002l-216.266 216.27L39.729 123.179c-9.087-9.087-23.824-9.089-32.912.002-9.089 9.089-9.089 23.824 0 32.912L239.55 388.82a23.271 23.271 0 0 0 32.91-.001l232.721-232.727c9.091-9.088 9.091-23.824.002-32.913z'/%3E%3C/svg%3E")
  background-position: calc(100% - 20px) 50%
  background-repeat: no-repeat
  background-size: var(--icon-xs) auto
  cursor: pointer
  appearance: none
  -webkit-appearance: none
  box-shadow: none

  option[value=""][disabled]
    display: none

  option
    color: #000 // for firefox

textarea
  vertical-align: top
  height: 130px
  padding: 14px var(--control-space)
  resize: none

// light
// controls
.st-form
  &._light
    input,
    textarea,
    select
      --control-color: #ffffff
      --control-border-color: rgba(255, 255, 255, 0.2)
      --control-placeholder: #ffffff
      --control-bg: transparent

      &:focus
        --control-border-color: rgba(255, 255, 255, 0.5)

// checkbox
// and
// radio
.ui-st-radio,
.ui-st-checkbox
  position: relative
  padding-left: 34px
  font-size: var(--text-sm)
  line-height: 28px

  label
    display: block
    cursor: pointer

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

  input:checked ~ .fake-control
    &::before
      transform: scale(1)

.fake-control
  position: absolute
  left: 0
  top: 2px
  width: 20px
  height: 20px
  border: 1px solid var(--border)
  transition: all $transition-default
  cursor: pointer

  &::before
    content: ''
    position: absolute
    left: 4px
    top: 4px
    right: 4px
    bottom: 4px
    background-color: var(--primary)
    transform: scale(0)
    transition: all $transition-default

.ui-st-radio
  .fake-control
    border-radius: 50%

    &::before
      border-radius: 50%

.ui-st-checkbox
  input:checked ~ .fake-control
    // background-color: var(--secondary)
    // background-image: url('../img/arrow-down.svg')
    // background-repeat: no-repeat
    // background-position: 50% 50%
    // background-size: 70% 70%
