.placeholder
  color: #37393A

input,
textarea
  +placeholder-color(#37393A)

::-webkit-contacts-auto-fill-button
  opacity: 0

input[type="password"]::-webkit-contacts-auto-fill-button
  opacity: 1

input[type="search"]
  -webkit-appearance: none

.field-item__field input,
.field-item__field textarea
  position: relative
  height: 50px
  width: 100%
  padding: 0 15px
  border: 1px solid rgba(#444, 0.3)
  font: 16px $site-font-family, Arial, sans-serif
  color: #444
  background-color: #fff
  outline: none
  border-radius: 3px
  -webkit-appearance: none
  box-shadow: none

  &:hover
    border-color: rgba(#444, 0.4)

  &:focus
    border-color: rgba(#444, 0.5)

.field-item__field textarea
  vertical-align: top
  height: 130px
  padding: 10px 15px
  resize: none