/* checkbox and radio */
.ui-st-radio,
.ui-st-checkbox
  position: relative
  padding-left: 44px
  font-size: 14px
  line-height: 28px

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

  input:checked ~ .fake-control
    &::before
      transform: scale(1)

.fake-control
  position: absolute
  left: 0
  top: 2px
  width: 24px
  height: 24px
  border: 1px solid var(--border-medium)
  transition: background-color $transDefault, border-color $transDefault
  cursor: pointer

  &::before
    content: ''
    position: absolute
    left: 3px
    top: 3px
    right: 3px
    bottom: 3px
    background-color: var(--primary-color)
    background-image: var(--primary-gradient)
    transform: scale(0)
    transition: transform $transDefault, background-color $transDefault

.ui-st-radio
  .fake-control
    border-radius: 50%

    &::before
      border-radius: 50%

.ui-st-checkbox
  input:checked ~ .fake-control
    background-color: $second-color
    // background-image: url('../img/check.svg')
    background-repeat: no-repeat
    background-position: 50% 50%
    background-size: 75% 75%











