/* checkbox and radio */
.ui-st-radio,
.ui-st-checkbox
  position: relative
  padding-left: 34px
  font-size: var(--text-sm)
  line-height: 28px

  label
    cursor: pointer

  input
    width: 0
    height: 0
    visibility: hidden
    position: absolute
    left: 0
    top: 0

  input:checked ~ .fake-control
    &::before
      transform: scale(1)

.fake-control
  position: absolute
  left: 0
  top: 2px
  width: 20px
  height: 20px
  border: 1px solid var(--border)
  transition: background-color $transDefault, border-color $transDefault
  cursor: pointer

  &::before
    content: ''
    position: absolute
    left: 4px
    top: 4px
    right: 4px
    bottom: 4px
    background-color: var(--primary)
    transform: scale(0)
    transition: transform $transDefault, background-color $transDefault

.ui-st-radio
  .fake-control
    border-radius: 50%

    &::before
      border-radius: 50%

.ui-st-checkbox
  input:checked ~ .fake-control
    // background-color: var(--secondary)
    // background-image: url('../img/arrow-down.svg')
    // background-repeat: no-repeat
    // background-position: 50% 50%
    // background-size: 70% 70%
