// &::-webkit-scrollbar-button
// &::-webkit-scrollbar-track
// &::-webkit-scrollbar-track-piece
// &::-webkit-scrollbar-thumb
// &::-webkit-scrollbar-corner
// &::-webkit-resizer

.scroll-wrapper
  display: flex
  margin-left: var(--container-negative-space)
  margin-right: var(--container-negative-space)
  padding-left: var(--container-space)
  overflow-x: auto
  -ms-overflow-style: none
  overflow: -moz-scrollbars-none
  scrollbar-width: none

  &::-webkit-scrollbar
    display: none
    height: 0
    width: 0

  &::after
    content: ''
    flex-shrink: 0
    width: var(--container-space)
