.field-item__field
  select
    position: relative
    height: $fieldUiHeight
    width: 100%
    padding: 0 44px 0 $fieldUiSpace
    border: 1px solid $colorUiBorder
    font-family: var(--site-font-family), sans-serif
    font-size: $fieldUiFontSize
    color: $fieldUiColor
    background-color: $fieldUiBgColor
    background-image: url('../img/angle-arrow-down.svg')
    background-position: calc(100% - 14px) 50%
    background-repeat: no-repeat
    background-size: 16px auto
    outline: none
    border-radius: $fieldUiRadius
    cursor: pointer
    -webkit-appearance: none
    box-shadow: none
    // text-align: center
    // text-align-last: center

    &:disabled
      background-color: $colorUiDisabled
      color: #444
      cursor: auto

    &:hover
      border-color: rgba($colorUiBorder, 0.4)

    &:focus
      border-color: rgba($colorUiBorder, 0.5)

    &:disabled
      background-color: $colorUiDisabled
      color: #444
      cursor: auto

    select:required:invalid
      color: red

    option[value=""][disabled]
      display: none

    option
      color: $colorDark
