.header
  height: $header-height-xs

  +breakpoint($lg)
    height: $header-height-lg

.header-inner
  background-color: $header-bg-color

  +breakpoint($lg)
    padding: 52px 0 14px
    // transition: transform .3s

.header-panel
  +breakpoint($lg)
    display: flex
    align-items: center
    justify-content: space-between

.header-mob-layer-wrapp
  display: flex
  align-items: center
  justify-content: space-between

  +breakpoint-max-width($m-lg)
    position: relative
    z-index: 40
    padding: 10px 0

.logo
  display: flex
  align-items: center
  outline: none
  text-decoration: none
  transition: opacity .2s

  &:hover
    opacity: .95

  img
    width: 44px
    height: 44px

  &__slogan
    max-width: 80px
    margin-left: 16px
    font-size: 12px
    line-height: 16px
    color: #fff