.header
  position: relative
  z-index: 200
  height: 70px

.header
  height: 70px
  display: flex
  justify-content: space-between
  align-items: center
  padding: 5px 55px 5px 0
  background-color: #333

  .container
    width: 100%

.header-sticky
  .header-main
    position: fixed
    left: 0
    top: 0
    width: 100%
    box-shadow: 0 0 10px rgba(#000, 0.7)
    animation: .25s slideInDown ease
    transition: none

.logo
  max-width: 80px

  a
    display: block
    outline: none

/* Min width 980 pixels */
@media only screen and (min-width: 980px)
  .header
    height: 90px

  .header-main
    padding-right: 0

  .head-menu
    min-width: 1px // for safari
/* end media min width 980 pixels */