/* ----- Page structure ---------------- */
*
  box-sizing: border-box

html
  height: 100%

body
  display: flex
  flex-direction: column
  min-width: 320px
  min-height: 100%
  width: 100%
  margin: 0
  padding: 0
  background-color: var(--bg-body)

.site-wrapper
  overflow: hidden
  flex: 1 0 auto

.footer
  flex-shrink: 0

.main
  padding: 50px 0

.section-st
  padding-top: 40px
  padding-bottom: 40px

.container
  max-width: var(--container-width)
  padding: 0 var(--container-space)
  margin: 0 auto

.hidden-mobile
  display: none

  +breakpoint($md)
    display: block

.hidden-tablet
  +breakpoint($md)
    display: none

  +breakpoint($lg)
    display: block

.hidden-devices
  display: none

  +breakpoint($lg)
    display: block

.hidden-desktop
  +breakpoint($lg)
    display: none

@media only screen and (min-width: $lg)
  .site-columns
    display: flex

    &__main
      flex: 1

    &__aside
      flex: 0 0 270px
      margin-left: 50px