<!-- footer -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-aside-col">
        <div class="footer-logo">
          <a
            href="index.html"
            class="logo"
            aria-label="перейти на главную страницу"
          >
            <img src="../assets/img/logo.svg" alt="logo" />
            <span class="logo__slogan">Lorem ipsum slogan</span>
          </a>
        </div>
      </div>

      <div class="footer-main-col">
        <ul class="footer-contacts">
          <li><a href="mailto:www.rok1group.ru">www.rok1group.ru</a></li>
          <li><a href="tel:+7 812 318 08 08">+7 812 318 08 08</a></li>
          <li><a href="tel:+7 812 612 14 03">+7 812 612 14 03</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <span>Официальный сайт торговой марки ... © 2021</span>
      <span>Все права защищены</span>
    </div>
  </div>
</footer>
<!-- end footer -->
