<!-- footer -->
<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-main">
      <div class="footer-aside-col">
        <div class="footer-logo">
          <a href="index.html" class="logo" aria-label="home page">
            <img src="/assets/img/logo.svg" alt="logo" />
          </a>
        </div>
      </div>

      <div class="footer-main-col">
        <nav class="footer-nav">
          <ul class="footer-menu">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
            <li><a href="#">Item 6</a></li>
            <li><a href="#">Item 7</a></li>
            <li><a href="#">Item 8</a></li>
            <li><a href="#">Item 9</a></li>
            <li><a href="#">Item 10</a></li>
            <li><a href="#">Item 11</a></li>
          </ul>
        </nav>
      </div>

      <div class="footer-contacts-aside">
        <ul class="footer-contacts">
          <li><a href="mailto:www.rok1group.ru">www.rok1group.ru</a></li>
          <li><a href="tel:+7 812 318 08 08">+7 812 318 08 08</a></li>
          <li><a href="tel:+7 812 612 14 03">+7 812 612 14 03</a></li>
        </ul>

        <ul class="social-inline _light">
          <li>
            <a href="#" aria-label="facebook">
              <svg class="icon">
                <use xlink:href="../assets/img/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="instagram">
              <svg class="icon">
                <use xlink:href="../assets/img/sprite.svg#insta"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" aria-label="youtube">
              <svg class="icon">
                <use xlink:href="../assets/img/sprite.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg class="icon" aria-label="telegram">
                <use xlink:href="../assets/img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <span>Официальный сайт торговой марки ... © 2021</span>
      <span>Все права защищены</span>
    </div>
  </div>
</footer>
<!-- end footer -->
