<!-- header -->
<header class="header _menu-mob-fade" id="header">
  <div class="header-inner">
    <div class="header-panel container">
      <div class="header-mob-layer-wrapp">
        <a href="index.html" class="logo">
          <img src="assets/img/logo.svg" alt="logo" />
          <span class="logo__slogan">Lorem ipsum slogan</span>
        </a>

        <div class="burger-menu">
          <div class="burger-menu-box"></div>
        </div>
      </div>

      <div class="header-menu">
        <div class="menu-wrapper-fixed">
          <div class="menu-close-overlay"></div>

          <div class="menu-open-wrapper">
            <nav class="header-nav">
              <ul class="menu">
                <li class="menu-item">
                  <span class="menu-item__link _dd">
                    Links
                    <svg class="icon">
                      <use
                        xlink:href="assets/img/sprite.svg#chevron-down"
                      ></use>
                    </svg>
                  </span>

                  <ul class="menu-dd">
                    <li>
                      <a href="#pagination">Pagination</a>
                    </li>
                    <li>
                      <a href="#">Bread crumbs</a>
                    </li>
                  </ul>
                </li>
                <li class="menu-item">
                  <a class="menu-item__link scrollto-js" href="#buttons"
                    >Buttons</a
                  >
                </li>
                <li class="menu-item">
                  <a class="menu-item__link scrollto-js" href="#form">Form</a>
                </li>
                <li class="menu-item">
                  <a class="menu-item__link scrollto-js" href="#text">Text</a>
                </li>
              </ul>
            </nav>

            <!-- header top panel -->
            <div class="header-top-panel">
              <div class="container">header top panel</div>
            </div>
            <!-- end header top panel -->
          </div>
        </div>
      </div>

      <div class="header-aside">
        <a href="#" class="btn _xs _light">Вход</a>

        <div class="dd-lang">
          <button class="dd-lang-btn">
            <span class="dd-lang-active">ru</span>
            <svg class="icon">
              <use xlink:href="assets/img/sprite.svg#chevron-down"></use>
            </svg>
          </button>

          <ul class="dd-lang-list">
            <li><a href="#">en</a></li>
            <li><a href="#">cn</a></li>
          </ul>
        </div>

        <div class="dd-search-wrapp">
          <button class="dd-search-btn" type="button">
            <svg class="icon">
              <use xlink:href="assets/img/sprite.svg#search"></use>
            </svg>
          </button>

          <form action="#" class="search-form">
            <div class="search-form__inner">
              <input type="search" placeholder="Поиск" />
              <button type="submit">
                <svg class="icon icon-search">
                  <use xlink:href="assets/img/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
