<!-- header -->
<header class="header _menu-mob-fade" id="header">
  <div class="header-inner">
    <div class="header-panel container">
      <a
        href="index.html"
        class="logo"
        aria-label="перейти на главную страницу"
      >
        <img src="/assets/img/logo.svg" alt="logo" />
      </a>

      <div class="header-menu">
        <div class="menu-wrapper-fixed">
          <div class="menu-open-wrapper">
            <nav class="menu-wrapp">
              <ul class="menu">
                <li>
                  <a href="#components">components</a>
                </li>
                <li>
                  <a href="#buttons">Buttons</a>
                </li>
                <li>
                  <a href="#form">Form</a>
                </li>
                <li>
                  <a href="#text">Text</a>
                </li>
                <li>
                  <a href="#lightbox">Lightbox</a>
                </li>
                <li>
                  <a href="#swiper">Swiper</a>
                </li>
              </ul>
            </nav>

            <!-- header top panel -->
            <div class="header-top-panel">
              <div class="container">header top panel</div>
            </div>
            <!-- end header top panel -->
          </div>
        </div>
      </div>

      <div class="header-aside">
        <a href="#" class="btn _sm _light">Вход</a>

        <div class="dd-lang">
          <button class="dd-lang-btn">
            <span class="dd-lang-active">ru</span>
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#chevron-down"></use>
            </svg>
          </button>

          <ul class="dd-lang-list">
            <li><a href="#">en</a></li>
            <li><a href="#">cn</a></li>
          </ul>
        </div>

        <div class="dd-search-wrapp">
          <button class="dd-search-btn" type="button" aria-label="search">
            <svg class="icon">
              <use xlink:href="../assets/img/sprite.svg#search"></use>
            </svg>
          </button>

          <form action="#" class="search-form">
            <div class="search-form__inner">
              <input type="search" />
              <button type="submit">
                <svg class="icon icon-search" aria-label="search field">
                  <use xlink:href="../assets/img/sprite.svg#search"></use>
                </svg>
              </button>
            </div>
          </form>
        </div>

        <button type="button" class="burger-menu-wrapp" aria-label="menu">
          <div class="burger-menu">
            <span class="burger-menu-box"></span>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
