<!-- modals -->
<div class="modal" id="feedback" aria-hidden="true">
  <div class="modal-overlay" tabindex="-1" data-micromodal-close>
    <div class="modal-container" role="dialog">
      <button
        class="modal-close"
        aria-label="Close modal"
        data-micromodal-close
      >
        <svg class="icon">
          <use xlink:href="/assets/img/sprite.svg#close"></use>
        </svg>
      </button>

      <div class="modal-inner-wrapper">
        <header class="modal-head">
          <div class="heading _h2">Обратная связь</div>
        </header>

        <div class="modal-body">
          <form class="st-form feedback-form">
            <div class="form-group">
              <label class="field-item">
                <span class="field-item__label">Имя</span>
                <span class="field-item__field">
                  <input type="text" name="name" required />
                </span>
                <span class="field-item__message"
                  >Пожалуйста заполните поле</span
                >
              </label>
            </div>

            <div class="form-group">
              <label class="field-item">
                <span class="field-item__label">Фамилия</span>
                <span class="field-item__field">
                  <input type="text" name="surname" required />
                </span>
                <span class="field-item__message"
                  >Пожалуйста заполните поле</span
                >
              </label>
            </div>

            <div class="form-group">
              <label class="field-item _error">
                <span class="field-item__label">E-mail</span>
                <span class="field-item__field">
                  <input type="email" name="email" required />
                </span>
                <span class="field-item__message"
                  >Пожалуйста заполните Email</span
                >
              </label>
            </div>

            <div class="form-group">
              <label class="field-item">
                <span class="field-item__label">Телефон</span>
                <span class="field-item__field">
                  <input type="tel" name="phone" />
                </span>
                <span class="field-item__message"></span>
              </label>
            </div>

            <div class="form-group">
              <label class="field-item">
                <span class="field-item__label">Сообщение</span>
                <span class="field-item__field">
                  <textarea name="message"></textarea>
                </span>
                <span class="field-item__message"></span>
              </label>
            </div>

            <div class="_txt-center mb-24">
              <button class="btn _primary _max" type="submit">Отправить</button>
            </div>

            <div class="text_xs _txt-center">
              Нажиимая на кнопку я соглашаюсь <br />
              <a href="#">с условиямии обработки персональных данных</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end modals -->
