<!-- modals -->
<div id="thanks" class="st-modal mfp-hide">
  <div class="st-modal__head">
    <div class="heading _h2">Спасибо!</div>
  </div>
  <div class="st-modal__body">
    <p>
      Ваше сообщение отправлено и в ближайшее время наши специалисты обработают
      его и ответят Вам.
    </p>
  </div>
</div>

<div id="feedback" class="st-modal mfp-hide">
  <div class="st-modal__head">
    <div class="heading _h2">Обратная связь</div>
  </div>

  <div class="st-modal__body">
    <form class="st-form" action="#">
      <div class="form-group">
        <label class="field-item">
          <span class="field-item__label">Имя</span>
          <span class="field-item__field">
            <input type="text" />
          </span>
          <span class="field-item__message">Пожалуйста заполните поле</span>
        </label>
      </div>

      <div class="form-group">
        <label class="field-item">
          <span class="field-item__label">Фамилия</span>
          <span class="field-item__field">
            <input type="text" />
          </span>
          <span class="field-item__message">Пожалуйста заполните поле</span>
        </label>
      </div>

      <div class="form-group">
        <label class="field-item _error">
          <span class="field-item__label">E-mail</span>
          <span class="field-item__field">
            <input type="email" />
          </span>
          <span class="field-item__message">Пожалуйста заполните Email</span>
        </label>
      </div>

      <div class="form-group">
        <label class="field-item">
          <span class="field-item__label">Телефон</span>
          <span class="field-item__field">
            <input type="tel" />
          </span>
          <span class="field-item__message"></span>
        </label>
      </div>

      <div class="form-group">
        <label class="field-item">
          <span class="field-item__label">Сообщение</span>
          <span class="field-item__field">
            <textarea></textarea>
          </span>
          <span class="field-item__message"></span>
        </label>
      </div>

      <div class="text_center mt-24 mb-24">
        <button class="btn _primary _min-width" type="submit">Отправить</button>
      </div>

      <div class="text_xs text_center">
        Нажиимая на кнопку я соглашаюсь <br />
        <a href="#">с условиямии обработки персональных данных</a>
      </div>
    </form>
  </div>
</div>
<!-- end modals -->
