.header-top-panel
  color: #fff

  +breakpoint($lg)
    position: absolute
    top: 0
    left: 0
    width: 100%
    background-color: #000

  .container
    +breakpoint-max-width($m-lg)
      padding: 0

    +breakpoint($lg)
      display: flex
      align-items: center
      justify-content: space-between
      height: 40px