.st-cards
  display: grid
  gap: var(--col-space-between)

  @media (min-width: $bp-min-md)
    grid-template-columns: repeat(2, 1fr)

  @media (min-width: $bp-min-lg)
    grid-template-columns: repeat(3, 1fr)

a.st-card
  text-decoration: none
  color: var(--tc-dark)

.st-card
  display: flex
  flex-direction: column
  text-decoration: none

  &:hover
    @media (min-width: $bp-min-lg)
      opacity: 0.95

  &__image
    position: relative
    height: 300px

  &__info
    flex-grow: 1
    display: flex
    flex-direction: column
    padding: 20px
    border: 1px solid var(--border)
    border-top: none
    background-color: var(--bg-light)
