.tabs-box
  display: none

  &._visible
    display: block

.tabs-nav
  display: flex
  align-items: center

  li
    padding: 10px 20px
    white-space: nowrap
    cursor: pointer
    border-radius: var(--radius-xs)

    &.current
      cursor: default
      background-color: var(--primary)
      color: var(--tc-white)

.tabs-boxes
  margin-top: 20px
