// Typography var
$site-text-size: 16px
$site-text-color: #000
$site-title-color: #000

// transition default
$transDefault: .2s ease

// colors
$color-link: #4a93df
$color-h-link: darken($color-link, 10%)

$colorDark: #2D2D2D
$colorLight: #F5F5F5
$colorPrimary: #3099FF
$colorPrimaryDark: #1B66B0
$colorDanger: #FE2514
$colorDangerAccent: #F36919
$colorWarning: #FFE841
$colorGray: #818181
$colorGrayLight: #D5D5D5

//base theme
$base-color: lighten(#172A3A, 5%)
$second-color: #4472CA

// ui
$placeholderColor: #ccc
$fieldUiFontSize: 18px
$fieldUiSpace: 16px
$fieldUiHeight: 50px
$fieldUiRadius: 3px
$fieldUiColor: #000
$fieldUiBgColor: #fff
$colorUiBorder: #444
$colorUiDisabled: rgba(#000, .4)

// LAYOUT
// min-width
$mobile-s: 375px
$sm: 576px
$md: 740px
$lg: 980px
$xl: 1200px
$hd: 1440px

// max-width
$m-mobile-s: 374px
$m-sm: 575px
$m-md: 739px
$m-lg: 979px
$m-xl: 1199px
$m-hd: 1439px

// header
$header-height-xs: 64px
$header-height-md: 64px
$header-height-lg: 116px
$header-bg-color: #2D2D2D