@import 'const';

@mixin placeholder-color($color-pl) {
  &:-moz-placeholder,
  &::-moz-placeholder {
    color: $color-pl;
    opacity: 1;
  }

  &::-webkit-input-placeholder {
    color: $color-pl;
    opacity: 1;
  }

  &:focus {
    &:-moz-placeholder,
    &::-moz-placeholder {
      opacity: 0;
    }

    &::-webkit-input-placeholder {
      opacity: 0;
    }
  }
}

@mixin breakpoint($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin breakpoint-max-width($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin btnColor($name) {
  --btn-bg: var(--#{$name});
  --btn-bg-hover: var(--#{$name}-hover);
  --btn-bg-active: var(--#{$name});
  --btn-bg-disabled: var(--#{$name});
  --btn-color: var(--tc-white);
  --btn-color-disabled: var(--tc-white);
  --btn-border: transparent;
  --btn-border-disabled: transparent;
}
