:root {
  /* color */
  --btn-bg: transparent;
  --btn-color: #1e1e1f;
  --btn-border: #dadada;

  --btn-bg-active: #ccc;
  --btn-bg-hover: #dfdfdf;

  --btn-bg-disabled: transparent;
  --btn-color-disabled: #bfc1c7;
  --btn-border-disabled: #dadada;

  /* light color */
  --btn-light-bg: transparent;
  --btn-light-bg-hover: #f0f0f0;
  --btn-light-color: #f0f0f0;
  --btn-light-color-disabled: #f0f0f0;
  --btn-light-border: #f0f0f0;

  /* light fill color */
  --btn-light-fill-bg: #f0f0f0;
  --btn-light-fill-bg-hover: #e4e3e3;
  --btn-light-fill-color: #020202;
  --btn-light-color-fill-disabled: #787878;
  --btn-light-fill-border: #f0f0f0;

  /* sizes */
  --btn-xs: 34px;
  --btn-sm: 38px;
  --btn-default: 44px;
  --btn-md: 52px;
  --btn-lg: 60px;

  /* radius */
  --btn-radius-xs: 4px;
  --btn-radius-sm: 6px;
  --btn-radius-md: 8px;
  --btn-radius-lg: 10px;
  --btn-radius-xl: 12px;
}
