:root {
  /* color */
  --btn-bg: transparent;
  --btn-color: #1e1e1f;
  --btn-border: #dadada;

  --btn-bg-active: #cccccc;
  --btn-bg-hover: #dfdfdf;
  --btn-color-hover: #1e1e1f;

  --btn-bg-disabled: var(--btn-bg);
  --btn-color-disabled: var(--btn-color);
  --btn-border-disabled: var(--btn-border);

  /* light color */
  --btn-light-color: #e1e1e1;
  --btn-light-hover-color: #1e1e1f;
  --btn-light-active-bg: #cecece;

  /* light fill color */
  --btn-light-fill-color: #1e1e1f;
  --btn-light-fill-bg: #e1e1e1;
  --btn-light-fill-bg-hover: rgba(#{HexToRGB(#e1e1e1)}, 0.95);

  /* sizes */
  --btn-xs: 34px;
  --btn-sm: 38px;
  --btn-default: 44px;
  --btn-md: 52px;
  --btn-lg: 60px;

  /* radius */
  --btn-radius-xs: 4px;
  --btn-radius-sm: 6px;
  --btn-radius-md: 8px;
  --btn-radius-lg: 10px;
  --btn-radius-xl: 12px;
}
