// ------------------------- space
.mb-4
  margin-bottom: 4px

.mb-8
  margin-bottom: 8px

.mb-10
  margin-bottom: 10px

.mb-12
  margin-bottom: 12px

.mb-16
  margin-bottom: 16px

.mb-20
  margin-bottom: 20px

.mb-24
  margin-bottom: 24px

.mb-30
  margin-bottom: 30px

.mb-40
  margin-bottom: 40px

.mb-50
  margin-bottom: 50px

.mb-60
  margin-bottom: 60px

.mb-70
  margin-bottom: 70px

.mb-80
  margin-bottom: 80px

.mb-90
  margin-bottom: 90px

.mb-100
  margin-bottom: 100px

// ------------------------- max-width
.max-w-300-md
  max-width: 300px

.max-w-600-md
  max-width: 600px

// ------------------------- height block
._height-600
  min-height: 600px

._height-700
  min-height: 700px


// ------------------------- colors
.text_primary
  color: var(--primary)

.text_secondary
  color: var(--secondary)

.text_success
  color: var(--success)

.text_danger
  color: var(--danger)

.text_dark
  color: var(--tc-dark)

.text_light
  color: var(--tc-light)

.text_white
  color: var(--tc-white)

.text_medium
  color: var(--tc-medium)

._bg-primary
  background-color: var(--primary)

._bg-secondary
  background-color: var(--secondary)

._bg-danger
  background-color: var(--danger)

._bg-success
  background-color: var(--success)

._bg-dark
  background-color: var(--bg-dark)
  color: var(--tc-white)

._bg-light
  background-color: var(--bg-light)

._bg-medium
  background-color: var(--bg-medium)

._bg-white
  background-color: var(--bg-white)

._bg-grey
  background-color: var(--bg-grey)


// ------------------------- text
.text_xs
  font-size: var(--text-xs)
  line-height: var(--text-lh)

.text_sm
  font-size: var(--text-sm)
  line-height: var(--text-lh)

.text_md
  font-size: var(--text-md)
  line-height: var(--text-lh)

.text_lg
  font-size: var(--text-lg)
  line-height: var(--text-lh)

.text_xl
  font-size: var(--text-xl)
  line-height: var(--text-lh)

.text_2xl
  font-size: var(--text-2xl)
  line-height: var(--text-lh)

.text_3xl
  font-size: var(--text-3xl)
  line-height: var(--text-lh)

._txt-center
  text-align: center

._txt_left
  text-align: left

._txt_right
  text-align: right

._txt_uppercase
  text-transform: uppercase

._txt_500
  font-weight: 500

._txt_600
  font-weight: 600

._txt_700
  font-weight: 700

// ------------------------- icons
.icon
  // colors
  &._light
    fill: var(--tc-light)
    stroke: var(--tc-light)

  // sizes
  &._xxs
    width: var(--icon-xxs)
    height: var(--icon-xxs)

  &._xs
    width: var(--icon-xs)
    height: var(--icon-xs)

  &._sm
    width: var(--icon-sm)
    height: var(--icon-sm)

  &._md
    width: var(--icon-md)
    height: var(--icon-md)

  &._default
    width: var(--icon-default)
    height: var(--icon-default)

  &._lg
    width: var(--icon-lg)
    height: var(--icon-lg)

  &._xl
    width: var(--icon-xl)
    height: var(--icon-xl)

  &._2xl
    width: var(--icon-2xl)
    height: var(--icon-2xl)

  &._3xl
    width: var(--icon-3xl)
    height: var(--icon-3xl)
