:root {
  --site-font-family: 'Roboto';
  --site-font-family-1: 'Dela Gothic One';
  --system-font: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif;

  --site-main-text: 16px;
  --site-main-text-lh: 1.5em;

  --heading-h1: 30px;
  --heading-h2: 24px;
  --heading-h3: 20px;
  --heading-h4: 18px;
  --heading-h5: 16px;
  --heading-h6: 14px;

  --heading-lh: 1.4em;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;

  --text-lh: 1.45em;
}

@media only screen and (min-width: $md) {
  :root {
    --heading-h1: 32px;
    --heading-h2: 24px;
    --heading-h3: 20px;
    --heading-h4: 18px;
    --heading-h5: 16px;
    --heading-h6: 14px;
  }
}

@media only screen and (min-width: $lg) {
  :root {
    --heading-h1: 40px;
    --heading-h2: 32px;
    --heading-h3: 24px;
    --heading-h4: 20px;
    --heading-h5: 16px;
    --heading-h6: 14px;
  }
}
