:root {
  /* THEME SHADOW */
  --shadow-z1: 0 0 2px rgba(0, 0, 0, 0.08);
  --shadow-z2: 0 0 4px rgba(0, 0, 0, 0.08);
  --shadow-z3: 0 0 8px rgba(0, 0, 0, 0.08);
  --shadow-z4: 0 0 12px rgba(0, 0, 0, 0.08);
  --shadow-z5: 0 0 16px rgba(0, 0, 0, 0.08);
  --shadow-z6: 0 0 40px rgba(0, 0, 0, 0.08);

  /* THEME RADIUS */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-default: 18px;
  --radius-md: 20px;
  --radius-lg: 24px;

  /* THEME OFFSETS */
  --container-width: 1250px;
  --container-space: 20px;
  --col-space-between: 20px;
  --header-height: 64px;
  --header-top-panel-height: auto;
  --viewport-height-diff: 0;
}

@media only screen and (min-width: $md) {
  :root {
    --container-space: 24px;
  }
}

@media only screen and (min-width: $lg) {
  :root {
    --header-height: 116px;
    --header-top-panel-height: 40px;
  }
}

@media only screen and (min-width: $xl) {
  :root {
    --container-space: 40px;
  }
}
