:root {
  /* font size ui */
  --text-ui-xs: 12px;
  --text-ui-sm: 14px;
  --text-ui-md: 16px;
  --text-ui-lg: 18px;
  --text-ui-xl: 20px;
  --text-ui-2xl: 24px;
  --text-ui-3xl: 32px;

  --text-ui-lh: 1.2em;

  /* input, select */
  --control-placeholder: #ccc;
  --control-color: #000;
  --control-border-color: #b7b7b7;
  --control-bg: #fff;
  --control-disabled: rgba(#fff, 0.5);

  --control-height: 50px;
  --control-space: 20px;

  /* icon size */
  --icon-xxs: 10px;
  --icon-xs: 16px;
  --icon-sm: 18px;
  --icon-md: 22px;
  --icon-default: 24px;
  --icon-lg: 30px;
  --icon-xl: 40px;
  --icon-2xl: 50px;
  --icon-3xl: 60px;

  /* radius */
  --control-radius-xs: 4px;
  --control-radius-sm: 6px;
  --control-radius-md: 8px;
  --control-radius-lg: 10px;
  --control-radius-xl: 12px;
}
